<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>

<body>

<h4>Books in the library:</h4>
<table>
	  <tr> 
	  	<th><b>Title</b></th>
	    <th><b>ISBN</b></th>
	    <th><b>Authors</b></th>
	    <th><b>Genres</b></th>
	  </tr>
	  <tr>
	  	<% @books.each do |book| %>
	  	  <td><%= book.title %></td>
	  	  <td><%= book.isbn %></td>
          <td><%= book.authors.collect{ |author| author.name }.join(", ") %></td>
          <td><%= book.genres.collect { |genre| genre.name }.join(", ") %></td>
	  </tr>
	<% end %>
</table>

</body>
</html>